@charset "UTF-8";

*{
box-sizing:border-box;
margin:0;
padding:0;
}

/* ページ全体 */
body{
    font-family: "Yu Gothic","Hiragino Sans",sans-serif;
    background:#e9eef2;
    color:#2f3e46;
    line-height:1.7;
}

/* コンテナ */
.thanks-page{
    max-width:900px;
    margin:40px auto;
    padding:0 20px;
    font-size: 22px;
}

/* カード */
.card{
    background:#ffffff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 6px 16px rgba(0,0,0,0.08);
}
.image{
    margin: 0;
    padding: 30px;
    border-radius: 30%;
}